<div class="container">
  <div class="row">
    <div class="col">
      <% @articles.each do |article| %>
        <%= article.title %>
        <%= article.situation%>
      <% end %>
    </div>
  </div>
</div>