<div class="container1">
  <div class="row">
    <div class="col-md-2" style="background-color:#dcdcdc">
      <h4>サービス</h4>
      <p>・ランキング</p>
      <p>・殿堂入り</p>
    </div>
    <div class="col-md-7" style="background-color:#c0c0c0"></div>
    <div class="col-md-3" style="background-color:#d3d3d3"></div>
  </div>
  <div class="row1" style="background-color:#f5f5f5">
    <div>
        <ul id="tab-menu", type="circle">
            <li><a href="#tab1", class="active"></a></li>
            <li><a href="#tab2"></a></li>
        </ul>
    </div>
  </div>
</div>