<div class="container">
  <div class="row">
    <div class="col-md-4 article-form" style="backgorund-color:#a9a9a9;"></div>
    <div class="col-md-6 article-form" style="backgorund-color:grey;">
      <div class="col-md-6 article-form1" style="background-color:blue;"></div>
      <div class="col-md-6 article-form1" style="backgorund-color:red;"></div>
    </div>
  </div>
</div>