<div class="container top-background-image">
  <div class="row">
    <div class="col-md-2 top-background-left">
      <h5>相互情報共有サイト</h5>
      <h3>『ちえ板』</h3>
    </div>
    <div class="col-md-1 top-background-center"></div>
    <div class="col-md-9 top-background-right" >
      <div class="row homes-top-title">
        <h2>
          あなたの『知っている』をみんなの『知っている』に
        </h2>
      </div>
      <div class="homes-layout">
         <%= button_to "START", articles_path, method: :get, class: "homes-start-button" %>
      </div>
    </div>
  </div>
</div>







