<h1 class="homes-top-title">あなたの『知っている』をみんなの『知っている』に！</h1>
<div class="homes-start">
  <div class="homes-layout">
    <%= button_to "START", articles_path, method: :get, class: "homes-start-button" %>
  </div>
</div>
<%= @users.each do |user| %>
<%= user.id %>
<% end %>