/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*リセットcssの記述*/
}

/*以下、headerのレイアウト*/
.header-layout{ /*headerのデザイン*/
  display: flex;
  height: 70px;
  backgorund-color: #a9a9a9;
}
.login_title{                            /*『ログイン画面』のデザイン*/
  width: 300px;
  margin: 0 auto ;
  padding-top: 50px;
  text-align: center;
  border-bottom: 2px solid #a9a9a9;
}
.login_table{                             /*tel,email,passwordフォーム中央寄せ*/
  margin: 0 auto;
}
.login-item{
  text-align: left;                       /*項目のテキスト左寄せ*/
}
.login-itemA{
  width: 30px;
  height: 50px;
}
.header-box{                              /*header内の要素のデザイン*/
  width: 200px;
}

.login_field{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

footer{
  height: 30px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

/*article/new.html.erbの記述*/
.article-new-frame1{                      /*投稿フォーム全体の枠組み*/
  width: 1000px;
  height: 1200px;
}
.article-new-title{                       /*title部分のレイアウト*/
  width: 1000px;
  height: 50px;
  font-size: 30px;
  padding-top: 20px;
  text-align: left;
}
.article-new-frame2{                      /*image/著者・コメント/situation全体の枠組み*/
  display: flex;
  width: 1000px;
  height: 300px;
}
.article-new-frame3{                      /*image部分の枠組み*/
  width: 400px;
  height: 300px;
}
.article-new-frame4{                      /*著者・コメント/situation全体の枠組み*/
  width: 600px;
  height: 300px;
}
.article-new-frame5{                      /*著者・コメント/situation個別の枠組み*/
  width: 600px;
  height: 150px;
}
.article-new-frame6{                      /*投稿記事全体フォーム全体の枠組み*/
  width: 1000px;
  height: 700px;
}
.make-article-procedure{
  width: 100%;
  height: 650px;
}
.article-contents{
  width: 1000px;
  height: 160px;
  display: flex;
}
.article-text-field{                      /*投稿記事部分の枠組み*/
  width: 750px;
  height: 150px;
}
.form-label{                              /*投稿フォーム（記事）のレイアウト*/
  width: 650px;
  height: 140px;
  font-size: 20px;
}
.form-label-situation{                    /*投稿部分のtitle/situationフォームのサイズ変更*/
  width: 550px;
  height: 100px;
  font-size: 20px;
}
.form-label-title{
  width: 550px;
  height: 80px;
  font-size: 30px;
}
.label-layout-new{
  height: 20px;
  font-size: 25px;
}
.form-button{
  text-align: center;
}

/*以下、index.htmlのコード*/
.article-form{
  height: 400px;
  width: 500px;
}
.article-form1{
  height: 200px;
  width: 400px;
}
.container1{
  height: 1500px;
  width: 1100px;
  margin: 0 auto;
}
.article-index-layout{
  width: 100%;
  height: 300px;
  margin-top: 20px;
}
.row1{
  width: 100%;
  height: 1200px;
  margin-top: 20px;
}
#tab-menu{
  display: flex;                 /*タブメニューの横並び*/
  border-right: 1px solid #000;
  border-left: 1px solid #000;
}
#tab-menu li{                    /*タブの幅変更*/
  list-style-type: none;
  width: 25%;
}
#tab-menu li a {
  color: #fff;
  text-decoration: none;        /*リンクの下線部を消す*/
  display: block;
  padding: 20px;
  text-align: center;
  background: #000;
  border: 1px solid #000;
  border-bottom: none;
}
#tab-menu .active {             /*一番最初に表示される(active)タブと文字色変更*/
  background: #fff;
  color: #000;
}
#tab-contents {                 /*タブ内の要素を横並び*/
  display: flex;
  flex-wrap: wrap;
}
#tab-contents .tab {            /*タブのデザイン*/
  width: 100%;
  padding: 30px;
  background: #fff;
  border: 1px solid #000;
  border-top: none;
}
#tab-contents p {
  color: #000;
  line-height: 2.5;
}

/*users/newの記述*/
.mypage-layout{
  width: 1240px;
  height: 700px;
  margin: 20px auto;
  display: flex;
}
.mypage-layout1{
  width: 300px;
  height: 200px;
}
.mypage-layout2{
  width: 400px;
  height: 100px;
}
.mypage-layout3{
  width: 400px;
  height: 100px;
}