/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*リセットcssの記述*/
}

.header-layout{ /*headerのデザイン*/
  display: flex;
  height: 70px;
  backgorund-color: #a9a9a9;
}
.login_title{                            /*『ログイン画面』のデザイン*/
  width: 300px;
  margin: 0 auto ;
  padding-top: 50px;
  text-align: center;
  border-bottom: 2px solid #a9a9a9;
}
.login_table{                             /*tel,email,passwordフォーム中央寄せ*/
  margin: 0 auto;
}
.login-item{
  text-align: left;                       /*項目のテキスト左寄せ*/
}
.login-itemA{
  width: 30px;
  height: 50px;
}
.header-box{                              /*header内の要素のデザイン*/
  width: 200px;
}

.login_field{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
input[type="text"] {                      /*入力フォームのサイズ変更*/
  width: 200px;
  height: 40px;
}
input[type="email"] {
width: 410px;
height: 40px;
}
input[type="password"] {
width: 410px;
height: 40px;
}
footer{
  height: 30px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}