<div class="about-layout-frame" style="background-color: #ffdab9;">
  <div class="col-md-3"></div>
  <div class="col-md-6" style="background-color: #ffffff">
    <h4 class="about-text-layout">
    <p class="about-text">『ちえ板』はユーザ間の情報交換を目的とした</p>
    <p class="about-text">相互情報共有サイトです。</p>
    <p class="about-text">ここでは生活から仕事まで</p>
    <p class="about-text">あらゆる分野の様々な情報を交換し合うことで</p>
    <p class="about-text">個人が感じる生活上の『困った』『不便だ』を</p>
    <p class="about-text">解決することを目指します。</p>
    <p class="about-text">あなたがこれまで得た知識・経験が</p>
    <p class="about-text">たくさんの人の助けになるかもしれません。</p>
    </h4>
  </div>
  <div class="col-md-3"></div>
</div>

