<div class="container about-layout">
      <div class="theTarget">
        <div class="image" style="background-image: image-url("/assets/5048383_m.jpg")"></div>
        <div class="image" style="background-image: url("/assets/gahag-0035812925.jpg")"></div>
        <div class="image" style="background-image: url("/assets/gahag-0092038731.jpg")"></div>
        <div class="image" style="background-image: url("/assets/gahag-0117363877.jpg")"></div>
        <div class="image" style="background-image: url("/assets/gahag-0119100892.jpg")"></div>
      </div>
    </div>
