<div class="top-background-image">
  <div class="row">
    <div class="col-md-2 top-background-left">
    </div>
    <div class="col-md-1 top-background-center"></div>
    <div class="col-md-9 top-background-right" >
      <div class="top-main">
        <h2 class="font-style" style="color: #ffa500;">
          あなたの『知っている』をみんなの『知っている』に
        </h2>
        <h13 class="font-style2" style="color: #ffa500;">
          相互情報共有サイト
        </h13>
        <h5 class="font-style" style="color: #ffa500;">
          『ちえ板』
        </h5>
         <div class="homes-layout">
         <%= button_to "START", articles_path, method: :get, class: "homes-start-button" %>
        </div>
      </div>
    </div>
  </div>
</div>







