<%= form_with model: article, url: sort_path, data: {remote: true} do |f| %>
  <p>Here!</p>
  <%= f.select :keyword, [ ['投稿が新しい順', 'new'],
                           ['投稿が古い順', 'old'],
                           ['いいねが多い順', 'likes'],
                           ['いいねが少ない順', 'dislikes']] %>
  <%= f.submit "ソート" %>
<% end %>