/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";

 /*flash message用*/
 @import "toastr";

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*リセットcssの記述*/
}

/*homes/topのレイアウト*/
.top-background-image{
 background-color: #fffacd;
 height: 800px;
 margin: 20px auto ;
 display: none;
}
.top-background-left{
 background-color:#ffa500;
 height: 800px;
 display: none;
 line-height: 250px;
}
.top-background-center{
  height: 800px;
 background-color:#ffdab9;
 display: none;
}
.top-background-right{
 display: none;
 color: white;
}
.font-style{
  font-size: 40px;
  margin: 60px auto;
  text-align: center;
}
.font-style2{
  margin: 0 auto;
}
.font-style-left{
  text-align: center;
  margin: 0 auto;
}
.homes-layout{
  height: 200px;
  padding: 0px;
}
.top-main{
  margin: 200px auto;
}
/*aboutページのレイアウト*/
.about-layout-frame{
 margin: 30px 0;
}
.about-text-layout{
  text-align: center;
  margin: 0 auto;
}
.about-text{
  padding-bottom: 20px;
}

/*以下、headerのレイアウト*/
.header-layout{ /*headerのデザイン*/
  display: flex;
  width: 100%;
  height: 70px;
  backgorund-color: #a9a9a9;
  padding: 20px;
  margin: 0 auto;
}
.header-layout-second{
  width: 100%;
  height: 50px;
  margin: 0 auto;
  display: flex;
}
.login_title{                            /*『ログイン画面』のデザイン*/
  width: 300px;
  margin: 0 auto ;
  padding-top: 50px;
  text-align: center;
  border-bottom: 2px solid #a9a9a9;
}
.login_table{                             /*tel,email,passwordフォーム中央寄せ*/
  margin: 0 auto;
}
.login-item{
  text-align: left;                       /*項目のテキスト左寄せ*/
}
.registration-new-form{
  width: 350px;
}
.login-table{
  width: 350px;
  margin: 0 auto;
  text-align: right;
}
.login-itemA{
  width: 30px;
  height: 50px;
}
.fa-user-plus, .fa-sign-in-alt, .fa-sign-out-alt{
  /*header内の要素のデザイン*/
  width: 100px;
}
.header-search-field{
  width: 350px;
  height: 40px;
  margin: 0 auto 0 0;

}
.header-search-form{
  width: 250px;
  height: 40px;
  margin: 5px auto;

}
.header-search-btn{
  width: 60px;
  height: 30px;
}


.login_field{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
i{
  height: 50px;
  width: 70px;
  size: 7px;
}
.header-bar2{
  display: flex;
}
.hello-text{
  line-height: 50px;
}
footer{
  height: 400px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

/*article/show.html.erbの記述*/
.article-new-frame1{                      /*投稿フォーム全体の枠組み*/
  background-color: #ffdab9;
  padding: 20px 0;
}
.article-new-title{                       /*title部分のレイアウト*/
  width: 1000px;
  height: 80px;
  font-size: 30px;
  padding-top: 20px;
  margin-left: 20px;
  text-align: left;
}
.article-new-frame2{                      /*image/著者・コメント/situation全体の枠組み*/
  width: 1000px;
  height: 80px;
  border: 2px solid #d3d3d3;
  margin: 0 auto;
  text-align: center;
  line-height: 80px;
  display: flex;
}
.article-situation-layout{
  width: 300px;
  height: 80px;
  border-right: 2px solid #d3d3d3;
}
.article-situation-text{
  font-size: 20px;
}
.article-situation-layout2{
  width: 695px;
  height: 80px;
}
.article-new-frame3{
/*image部分の枠組み*/
  width: 150px;
  height: 150px;
  border: 2px solid #d3d3d3;
  margin: 0 0 0 auto;
  text-align: center;
}
.article-new-frame4{                      /*著者・コメント/situation全体の枠組み*/
  width: 1000px;
  height: 150px;
  display: flex;
}
.article-new-frame5{  /*著者・コメント/situation個別の枠組み*/
  height: 150px;
  margin: 40px auto 0;
}
.article-new-frame5-2{
  padding-top: 50px;
  padding-left: 20px;
}
.article-new-frame6{                      /*投稿記事全体フォーム全体の枠組み*/
  width: 1000px;
  height: 700px;
  margin: 20px auto;
}
.article-new-frame7{
  width: 1000px;
  margin: 0 auto;
}
.article-new-frame8{
  margin-top: 40px;
  width: 1000px;
  margin: 40px auto 0;
}
.article-show-frame9{
  width: 1000px;
}
.make-article-procedure{
  width: 100%;
  height: 650px;
}
.article-contents{                         /*投稿記事のtext部分枠組み*/
  width: 1000px;
  height: 160px;
  display: flex;
  border: 2px solid #d3d3d3;
}
.article-image{                            /*投稿記事のimage部分枠組み*/
  width: 250px;
  height: 160px;
  border-right: 2px solid #d3d3d3;
}
.article-text-field{                      /*投稿記事部分の枠組み*/
  width: 750px;
  height: 160px;
  padding-left: 20px;
}
.article-show-favorite-frame{             /*投稿記事下部ーいいね部分のレイアウト*/
  display: flex;
  margin-left: auto;
}
.article-show-favorite-text{
  padding-left: 20px;
  font-color: red
}
.form-label{                              /*投稿フォーム（記事）のレイアウト*/
  width: 650px;
  height: 140px;
  font-size: 20px;
}
.form-label-situation{                    /*投稿部分のtitle/situationフォームのサイズ変更*/
  width: 480px;
  height: 30px;
  font-size: 20px;
}
.form-label-title{
  width: 480px;
  height: 30px;
  font-size: 20px;
}
.label-layout-new{
  height: 20px;
  font-size: 25px;
}
.form-button{
  text-align: center;
}

.article-new-comment-design{                       /*コメント投稿部分のレイアウト*/
  border-bottom: 2px solid #f5f5f5;
  display: flex;
}
.article-new-comment-design2{                       /*コメント投稿部分のレイアウト*/
  border-bottom: 2px solid #f5f5f5;
}

.comment-title{
  width: 610px;
  margin: 40px auto 0;
}
.comment-field1{
  text-align: center;
}
.comment-form{
  width: 600px;
  height: 250px;
}
.comment-form-btn{
  width: 800px;
  text-align:right;
}
.introduction-text{
  width: 600px;
  border: 2px solid #d3d3d3;
  margin: 0 auto 0 0;
}
/*以下、article/new.html.erbのコード*/
.new-article-layout1{
  margin: 30px auto;
}
.box0-text{
  text-align: right;
}
.box1-title{
  width: 400px;
  text-align: center;
}
.box1-font-size{
  font-size: 50px;
  margin: 0 0 0auto;
}
.box1-main{
  margin: 0 auto;
  display: flex;
}
.article-new-btn{
  width: 900px;
  text-align: right;
}
/*以下、index.htmlのコード*/
.article-form{
  height: 400px;
  width: 500px;
}
.article-form1{
  height: 200px;
  width: 400px;
}
.container{
  margin: 20px auto 20px;
}
.article-index-layout{
  height: 400px;
  margin-top: 20px;
}
.article-main-layout{
  display: flex;
  padding-bottom: 20px;

}
/*投稿一覧のデザイン*/
.article-main{
  margin-top: 20px;

}

/*お気に入り機能周りのレイアウト*/
.likes-article-all{
  margin-top: 30px;
}

.search-table{
  width: 1000px;
  margin: 0 auto;
}
/*テーブルタグ周りに実線を配置*/
.table-around-border{
  height: 30px;
  border-top: 2px solid #f5f5f5;
  border-bottom: 2px solid #f5f5f5;
}
.article-sidebar{
  margin-top: 20px;
  border-left: 2px solid #000;
}
.ranking-article-layout{
 width: 90px;
 height: 110px;
 text-align: center;
}
#tab-menu{
  display: flex;                 /*タブメニューの横並び*/
  border-right: 1px solid #000;
  border-left: 1px solid #000;
}
#tab-menu li{                    /*タブの幅変更*/
  list-style-type: none;
  width: 25%;
}
#tab-menu li a {
  color: #fff;
  text-decoration: none;        /*リンクの下線部を消す*/
  display: block;
  padding: 20px;
  text-align: center;
  background: #000;
  border: 1px solid #000;
  border-bottom: none;
}
#tab-menu .active {             /*一番最初に表示される(active)タブと文字色変更*/
  background: #fff;
  color: #000;
}
#tab-contents {                 /*タブ内の要素を横並び*/
  display: flex;
  flex-wrap: wrap;
}
#tab-contents .tab {            /*タブのデザイン*/
  width: 100%;
  padding: 30px;
  background: #fff;
  border: 1px solid #000;
  border-top: none;
}
#tab-contents p {
  color: #000;
  line-height: 2.5;
}

/*画像スライダー用記述*/
.slider{
 display: none;

}
.image-slider{
 height: 400px;
 display: block; /*slick-initializedが付与されたら表示*/
}
.articles-top-image1{
  background-image: image-url("5048383_m.jpg");
  height: 400px;
}
.articles-top-image2{
  background-image: image-url("gahag-0092038731-1.jpg");
  height: 400px;

}
.articles-top-image3{
  background-image: image-url("gahag-0092038731-1.jpg");
  height: 400px;

}
.articles-top-image4{
  background-image: image-url("5048383_m.jpg");
  height: 400px;

}
.articles-top-image5{
  background-image: image-url("5048383_m.jpg");
  height: 400px;

}
.index-main-table{
  width: 730px;
}

/*profiles/editの記述*/
.mypage-title-frame{
  width: 300px;
  border-bottom: 2px solid #f5f5f5;
  margin: 0 auto 20px;
  padding-top: 20px;

}
.mypage-title{
  text-align: center;

}
.mypage-layout{                                  /*会員情報入力フォームの枠*/
  width: 1240px;
  margin: 20px auto;
  font-size: 18px;
  border-bottom: 2px dashed #d3d3d3;
}
.mypage-form{
  margin: 0 auto ;
}
.mypage-layout1{
  width: 1100px;
  height: 450px;
  border-bottom: 2px dashed #d3d3d3;
}
.mypage-layout-left{
  width: 350px;
  border-right: 2px dashed #d3d3d3;
}
.mypage-layout2{
  width: 700px;
  height: 400px;

}
.mypage-layout3{
  width: 400px;
  height: 100px;
  margin-left: 50px;
}
.mypage-layout4{
  width: 400px;
  height: 190px;
  margin-left: 50px;
}
.mypage-form2{
 width: 250px;
}
.profile-form2{
  width: 550px;
  height: 120px;
}
.personal-label{                      /*各フォームの名称*/
  font-weight:600;
  font-size: 20px;
  text-align: center;
}
.mypage-btn{                         /*プロフィール作成ボタン*/
  width: 200px;
  margin: 0 0 0 auto;
}

.mypage-articles-index{
  width: 900px;
  height: 80px;
  display: flex;
}
.image-layout{
  width: 100px;
  height: 60px;
  margin: 0 auto;
}
.mypage-article-title{
  text-align: center;
  line-height: 80px;
  font-size: 15px;
}
.profile-detail{
  margin: 0 auto;
}
.mypage-layout-button{
  width: 100px;
  height: 80px;
  margin: 30px auto;
}
.edit-introduction-box{
  width: 850px;
  margin: 0 auto;
}
.profile-detail{
  margin-left: 20px;
}

/*profiles/show（詳細ページ）の記述*/
.profile-show-frame1{                        /*詳細ページのユーザ情報大枠*/
  height: 150px;
  display: flex;
}
.profile-show-frame2{                        /*詳細ページのimage部分*/
  height: 150px;
  margin: 0 0 0 auto;
  border: 2px solid #d3d3d3;
}
.profile-image{
  align-items: center;
}
.profile-show-frame3{                        /*詳細ページのname&introduction部分*/
  height: 150px;
  padding-right: 0px;
  padding-left: 0px;
  margin: 0 auto 0 0;
}
.profile-show-frame4{
  height: 230px;
  margin: 0 auto;
  border: 2px solid #d3d3d3;
}
.profile-show-name{
  height: 150px;
  padding-left: 0px;
  border: 2px solid #d3d3d3;

}
.profile-show-introduction{
  width: 500px;
  height: 150px;
  border: 2px solid #d3d3d3;
}
.profile-show-heading{
  width: 200px;
  height: 45px;
  text-align: center;
  border-bottom: 2px solid #d3d3d3;
  margin: 50px auto 20px auto;
}
.table-show-layout{
  margin: 0 auto;
}
.profile-show-article-title{
  width: 600px;
  height: 70px;
  line-height: 70px;
  font-size: 30px;
}
.profile-show-form{
  width: 150px;
  height: 30px;
  margin: 0 auto;
}
.profile-show-btn{
  width: 100px;
  height: 30px;
  text-align: center;
}
.profile-show-edit-btn{
  text-align: right;
  padding-right: 0px;
}

/*scores/index.html.erb*/
.scoring-sample{
  display: flex;
}
.scoring-content{
  margin: 30px auto 0 auto;
}
.scoring-article{
  margin: 0 auto ;
}
.scoring-my-articles{
  display: flex;
  border-right: 2px solid #d3d3d3;
}
.scoring-article-name{
  text-align: center;
}
.article-name1{
  width: 300px;
  height: 20px;
}
.scoring-form-layout{
  margin-top: 30px;
  text-align: center;
}
.scoring-add-form{
  width: 250px;
  height: 30px;
  margin: 0 auto;
}
.scoring-layout{
 margin-top: 30px;
 display: flex;
 text-align: center;
}
.text-center{
  text-align: center;
  margin: 0 auto;
  border-bottom: 2px solid #d3d3d3;
}

/*kaminariのデザイン変更*/
.page, .next, .last{
  margin: 0 5px;
}

.page-link{
  background-color: #ffdab9;
  padding: 0;
}
.pagination {
  justify-content: center;
}